.above-the-fold-container {
    scroll-snap-align: start;
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    height: 55vh;
    background-color: rgb(244, 223, 197);

    padding-top: 15vh;
}

.above-the-fold-image {
    flex: 1;

    margin: 0 5vw;
}

.above-the-fold-image a img {
    width: 100%;
    border-radius: 50px;
}

.above-the-fold-text {
    flex: 1.5;

    margin: 0 5vw;
}

.below-above-the-fold {
    background-image: linear-gradient(to bottom, rgb(244, 223, 197), white 50%);
    background-color: black;
    height: 30vh;
}

.title {
    font-size: 3em;
}

.subtitle {
    font-size: 2em;
}
