/*above folder start*/

.footer-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-contact h1 {
    margin: 0;
}

.footer-contact1 {
    flex: 2;

    display: flex;
    align-items: center;
}

.footer-contact1 h1 {
    font-size: 4em;
}

.footer-contact-comms {
    flex: 1;
    display: flex;
}

.footer-contact-comms p {
    margin-right: 10vw;
}

.footer-contact-comms p span {
    font-weight: bold;
    font-size: 1.2em;
}

.footer-contact-comms p span:first-child::before, .footer-contact-comms p span:last-child::after{
    content: "";
    display: block;
    height: 20px;
}

.footer-contact3 {
    flex: 1;
}

.footer-contact2 {
    flex: 1;
}

/*above folder end*/

.footer-contact {
    margin: 0 15vw;
}

.footer-contact {
    background-color: rgba(0, 0, 0, 0.187);
    border-radius: 50px 50px 0 0;
    padding: 0 50px;
}

.footer-form {
    flex: 2;
    margin: 0 15vw;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.187);
}

.form-group {
    display: flex;
}

label {
    display: block;
    flex: 1;
}

input:not([type="submit"]),textarea {
    display: block;
    flex: 2;
}

form div:last-of-type {
    display: flex;
    justify-content: center;
}

input, textarea {
    background-color: white;
}

input[type="submit"] {
    margin-top: 0.5em;
    width: 25vw;
    height: 65px;

    font-size: 2em;
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid black;
}

input[type="submit"]:hover{
    background-color: whitesmoke;
}

textarea {
    resize: none;
    overflow: auto;
}

footer input, footer textarea {
    height: 5vh;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

footer textarea {
    height: 10vh;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    margin: 10px 0;
    font-size: x-large;
}

footer {
    scroll-snap-align: start;
    height: calc(100vh - var(--nav-navbar-height));
    display: flex;
    flex-direction: column;
}

label[for="message"] span {
    font-size: small;
    margin-left: 0.5em;
    font-family: Arial, sans-serif;
}

.form-options {
    display: flex;
    justify-content: space-evenly;
}

.form-options .options {
    flex: 3;
    display: flex;
}

.form-options .submit {
    flex: 1;
}

.form-options .option-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form-options .option-group label {
    font-size: small;
    margin-left: 0.5em;
    font-family: Arial, sans-serif;
}

.form-options input:not([type="submit"]) {
    margin: 0px;
    width: 50%;
}

@media (orientation: portrait) {
    .form-group
    {
        display: block;
    }

    input:not([type="submit"]), textarea {
        display: block;
        margin: 0 auto;
    }

    label {
        text-align: center;
    }
}
