.video-container {
    margin: 30px 20vw;
}

.video-container video {
    width: 100%;
    height: auto;
}

.text-container {
    background-color: whitesmoke;
    margin: 0 20vw;
    padding: 30px;
    border-radius: 30px;
}

.text-container:first-of-type {
    border-radius: 0 0 30px 30px;
}

.text-container:last-of-type {
    border-radius: 30px 30px 0 0;
}