.big-container:nth-of-type(1) {
    background-image:  
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    radial-gradient(circle at 33% 66%, #693D3D, transparent  80%),
    conic-gradient(at 33% 66%, #FF7F7F 45deg, #C38A8A 90deg, #A16868 135deg, #693D3D 180deg, #693D3D 225deg, #A16868 270deg, #C38A8A 315deg, #FF7F7F 360deg);
}

.big-container:nth-of-type(2) {
    background-image:  
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    radial-gradient(circle at 33% 66%, #C19650, transparent  80%),
    conic-gradient(at 33% 66%, #EFEACB 45deg, #E3CB9C 90deg, #DDB475 135deg, #C19650 180deg, #C19650 225deg, #DDB475 270deg, #E3CB9C 315deg, #EFEACB 360deg);
}

.big-container:nth-of-type(3) {
    background-image:  
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    radial-gradient(circle at 33% 66%, #008000, transparent  80%),
    conic-gradient(at 33% 66%, #b3eab3 45deg, #90EE90 90deg, #53C15A 135deg, #008000 180deg, #008000 225deg, #53C15A 270deg, #90EE90 315deg, #b3eab3 360deg);
}

.big-container:nth-of-type(4) {
    background-image:  
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    radial-gradient(circle at 33% 66%, #F4862F, transparent  80%),
    conic-gradient(at 33% 66%, #5dbcdb 45deg, #ADD8E6 90deg, #FFD083 135deg,  #F4862F 180deg, #F4862F 225deg, #FFD083 270deg, #ADD8E6 315deg, #5dbcdb 360deg);
}

.big-container:nth-of-type(5) {
    background-image:  
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    radial-gradient(circle at 33% 66%, #F0E68C, transparent  80%),
    conic-gradient(at 33% 66%, #F5F5F0 45deg, #FDF5E6 90deg, #FFFFFF 135deg, #F0E68C 180deg, #F0E68C 225deg, #FFFFFF 270deg, #FDF5E6 315deg, #F5F5F0 360deg);
}

.big-container {
    display: flex;
    flex-direction: column;

    margin: 0 10vw;
    margin-bottom: 5vh;
    padding: 0 100px;
    border-radius: 100px;
}

.big-container>h1:first-of-type{
    font-size: 4em;
}

.container {
    scroll-snap-align: none;
    width: 100%;
    height: 100%;

    padding-top: 0;
}

p {
    white-space: pre-line;
}

.container .text {
    width: 100%;
    display: block;
}

.container .image {
    align-items: flex-start;
}

.container .text .text-block {
    background-color: whitesmoke;
    margin: 0;
    padding: 30px;
    border-radius: 30px;
}

.container .image img {
    height: auto;
}



.text p {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

h3 {
    text-align: center;
    
}

h5 {
    margin-bottom: 0;
}

h5:first-of-type {
    margin-top: 0;
}

.big-container:first-of-type {
    border-radius: 0 0 100px 100px;
}

.big-container:last-of-type {
    border-radius: 100px 100px 0 0;
}

.big-container .container {
    padding-bottom: 100px;
}

.big-container .container:nth-of-type(odd) .image {
    padding-left: 10vw;
}

.big-container .container:nth-of-type(even) .image {
    padding-right: 10vw;
}

.big-container:last-child {
    margin-bottom: 0;
}