td, th, tr, table {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr td:last-child {
    text-align: center;
}

.fun-facts {
    margin: 0 20vw;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 0 0 30px 30px;
}

.fun-facts h1:first-child {
    margin-top: 0px;
}

.random-table {
    margin: 0 20vw;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    margin: 30px 20vw;
}

.random-table details {
    margin-left: 3vw
}

.hints {
    margin: 0 20vw;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 30px 30px 0 0;
    margin: 30px 20vw;
}

.hints:last-child {
    margin-bottom: 0;
}

body {
    background-image: url('../img/backg/black.jpg');
}